.header__container {
    padding-bottom: 42px;
    display: flex;
    justify-content: space-between;
    font-family: 'Inika', serif;
    @include font(normal, 400, 1.6rem, 2.1rem);
    @include media-tablet {
        padding-bottom: 35px;
    }
}

.header__logo {
    display: inline-flex;
    align-items: baseline;
    width: 79px;
}

.logo__img {
    display: inline-block;
    background-image: url("/img/header/logo_vector.svg");
    width: 20px;
    height: 20px;
}

.menu {
    display: flex;
    align-items: flex-end;
    height: 25px;
   @include media-mobile {
      display: none;
    }
}

.menu__item {
    margin-right: 46px;
    @include media-tablet {
        margin-right: 23git spx;
    }
    & > a:hover {
        color: $color-active;
    }
    &:last-child {
        margin-right: 0;
    }
}

.navigation-button {
    display: none;
    position: relative;
    @include media-mobile {
        display: block;
    }
}

.navigation-button > span {
  display: block;
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: $color-h-main;
  right: 0px;
  &:first-child {
    bottom: 0px;
  }
  @for $i from 2 through 4 {
    &:nth-child(#{$i}) {
        content: '';
        bottom: (($i)-1)*8px;
        }
    }
}

.block__container {
    padding-bottom: 50px;
    padding-top: 70px;
    @include media-tablet {
        padding-top: 0px;
        padding-bottom: 70px;
    }
    @include media-mobile {
        padding-bottom: 25px;
    }
}

.first-screen__title {
    color: $color-h-main;
    margin: 42px 0;
    & > span {
        color: green;
    }
    @include media-tablet {
        margin-bottom: 30px;
    }
    @include media-mobile{
        margin: 25px 0;
    }
}

h1 {
    @include font(normal, 700, 4.5rem, 5rem);
    margin: 0;
    @include media-tablet {
        @include font(normal, 700, 3.5rem, 5rem);
    }
    @include media-mobile {
        @include font(normal, 700, 2.5rem, 3.5rem);
    }
}

.text__container-header {
    @include media-tablet {
        order: -1;
        min-width: 214px;
        max-width: 341px;
    }
}

.text-header {
    @include media-tablet {
        @include font(normal, 400, 1.6rem, 2.5rem);
        margin-bottom: 30px;
    }
    @include media-tablet {
        margin-bottom: 25px;
    }
}

.img__container-header {
    @include media-tablet {
        order: 1;
        min-width: 10px;
    }
    @include media-mobile {
        display: none;
    }
}