.prices__container {
    @include media-mobile {
        flex-direction: column;
    }
}

.h2__prices {
    font-family: 'Inter';
    @include font(normal, 700, 4rem, 4.8rem);
    color: $color-text-black;
    margin-bottom: 35px;
    @include media-mobile {
        @include font(normal, 700, 2.5rem, 3rem);
        text-align: center;
        margin-bottom: 0;
    }
    & > span {
        color: $color-h-highlight;
    }
    &-left {
        @include media-tablet {
            @include font(normal, 700, 3.5rem, 4.2rem);
        }
    }
    &-right {
        @include media-tablet {
            @include font(normal, 700, 2.5rem, 3.5rem);
            margin-top: 100px;
        }
        @include media-mobile {
            @include font(normal, 700, 2rem, 3.5rem);
            margin: 20px 0;
            padding: 0 50px;
        }
    }
}

.buttons__container {
    margin-top: 60px;
    border: 1px solid $border-color;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 34px 41px;
    @include media-mobile {
        margin-top: 40px;
        padding: 24px 22px;
        align-items: center;
        max-width: 224px;
        margin: 40px auto 0px auto;
    }
}

.right__container {
    max-width: 452px;
    text-align: right;
}

.price__img {
    display: block;
    width: 175px;
    margin-right: 0;
    margin-left: auto;
    @include media-mobile {
        display: none;
    }
}

.accordeon__panel {
    margin-top: 18px;
    border-top: 1px solid $rotate-icon;
    padding-top: 15px;
    &-visible {
        display: none;
        opacity: 0;
    }
}

.accordeon__text {
  @include font(normal, 300, 1rem, 1rem);
  margin-bottom: 6px;
}

.accordeon__price {
    @include font(normal, 400, 1.6rem, 2rem);
    color: $color-text-black;
    & > span {
        font-weight: 700;
        color:  $color-active;
    }
    &:first-letter {
        font-size: 1.2rem;
    }
}

.accordeon__order {
    margin-top: 12px;
    width: 86px;
    background-color: $button-accordeon-color;
    border-radius: 10px;
    border: none;
    color: $color-h-main;
    @include font(normal, 700, 1.4rem, 2rem);
    padding: 3px 20px;
}