.service__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 91px;
}

.main__h2-service {
    color: $color-h-highlight;
    max-width: 306px;
    @include media-tablet {
        @include font(normal, 400, 3.5rem, 4.6rem);
        margin-bottom: 40px;
    }
}

.service__buttons {
    max-width: 568px;
}

.card__item {
    flex-basis: 280px;
    &-blur {
        filter: blur(2px);
    }
    &:nth-child(1), &:nth-child(2) {
        margin-bottom: 55px;
    }
}

.card__img {
    display: block;
}

.card__text-container {
    text-align: center;
    height: 100px;
    border: 1px solid $border-color;
    border-radius: 0px 0px 20px 20px;
}

.card__h4 {
    @include font(normal, 700, 2rem, 2rem);
    color: $color-active;
    margin: 10px 0;
}

